.footer {
    background: #000000;
}
.footer-container {
    max-width: 1200px;
    padding: 100px 0px 60px 0px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
}
  
.footer-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    color: #cccccc;
}
  
.footer-contato li {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.1;
    color: #ffffff;
    margin-bottom: 30px;
}
.footer-contato li a {
    color: #ffffff;
}
  
.footer-copy 
{
    grid-column: 1 / -1; /* ocupa da coluna 1 ate a ultima */
    font-size: 1.125rem;
    color: #8f8f8f;
    text-align: center;
}

/*responsividade*/
@media (max-width: 1000px) {
    .footer-container {
      grid-template-columns: 1fr;
      gap: 40px;
      text-align: center;
      margin-left: 20px;
      margin-right: 20px;
    }
    
}

@media (max-width: 900px){
    .footer-texto{
        font-size: 1.2rem;
    }

    .footer-contato li{
        font-size: 2rem;
    }
}

@media (max-width: 600px){
    .footer-texto{
        font-size: 1rem;
    }

    .footer-contato li{
        font-size: 1.6rem;
    }
}

@media (max-width: 410px){
    .footer-texto{
        font-size: 0.9rem;
    }

    .footer-contato li{
        font-size: 1rem;
    }

    .footer-copy{
        font-size: 0.9rem;
    }
}

@media (max-width: 255px){
   .footer-contato li{
    font-size: 0.8rem;
   }
  
}


  