*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
  
}
  
a {
    text-decoration: none;
    color: #f8f9f7;
    font-size: 1.3rem;
    padding: 6px 10px;
    border-radius: 10px;
}
  
a:hover {
    background-color: #eba2f8;
    transition: 0.3s;
    color: #000000;
}
  
#logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f8f9f7;
}
  
header{
    background: #000000;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
  
header .container{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
}
  
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;  
}
  
#menu a {
    display: block;
    padding: 0.5rem;
}
  
#btn-mobile {
    display: none;
}

@media (max-width: 850px){

#menu{

    position: absolute;
    top: 70px;
    height: 100vh;
    background: #000000;
    /*background: linear-gradient(150deg, #1f036e, rgb(131, 87, 252));*/
    display: block;
    text-align: center;
    box-sizing: border-box;
    z-index: 2000;
  
      /* animação */
      transition: 0.9s; 
      width: 0; 
      right: 0;
      visibility: hidden; /* esconde menu*/
      overflow-y: hidden; /* eixo y esconde */
}
#nav.active #menu {
    transition: 0.9s;
    width: 35vw;
    visibility: visible; /* aparece menu*/
    overflow-y: hidden; /* auto cria a barra de scroll se utrapassar a tela*/
}
#menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    /*border-bottom: 2px solid rgba(0, 0, 0, 0.05);*/
}
     
#btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    color: white;
}
    /* criando o botao amburguer */
#hamburger {
    border-top: 2px solid;
    width: 20px;
    color: white;
}
#hamburger::after,
#hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
}
    
    /* criando o x */
#nav.active #hamburger {
    border-top-color: transparent;
}
#nav.active #hamburger::before {
    transform: rotate(135deg);
}
#nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
}

}

@media(max-width:400px){
    #nav.active #menu {
        
        width: 45vw;
        
    }
}




